<div class="menu">
<a href="/celebrities"><button class="menu-btn">Celebrities</button></a><br>
<a href="/celebrities/create"><button class="menu-btn">New Celebrity</button></a><br>
<a href="/movies"><button class="menu-btn">Movies</button></a><br>
<a href="/movies/create"><button class="menu-btn">New Movie</button></a>
</div>